/* CSS file */
Slider.pegSlider
{
	trackSkin: Embed(source="controls.swf", symbol="sliderTrack");
	trackHighlightSkin: Embed(source="controls.swf", symbol="sliderTrackHighlight");
	thumbSkin: Embed(source="controls.swf", symbol="sliderThumb");
}